
html {
    font-size:14px;
}

a{
    text-decoration: none;
}


.old_price{
    font-weight:bold;
    color:red;}

.new_price{
    font-weight:bold;
    background-color:green;
    color:white;
    border-radius:5px;
    padding :2px }

.hot {
    color:red;
}

.checkoutform label{
    font-size:16px;
}