{% extends 'shop/layouts/main.html'  %}
{% load static %}

{% block title %}
welcome | page
{% endblock title %}
{% block content %}

{% include 'shop/inc/slider.html' %}
<div class="container" >
    <div class = "row">
        <div class="col-12">  <h4 class="mb-3">Latest Offers</h4>
            <hr style="border-color:#b8bfc2;"></div>

           
                
                 <div class ="col-md-4 col-lg-3" >
                    <div class="card  my-3" >
                        <div class="card shadow">
                        <a href="{% url 'redmi10' %}"> 
                        <center><img src="{% static 'images/Redmi-Note-10S.jpeg' %}" style = "height:130px;width:130px;margin-top:20px;" class="card-image" alt="Categories"></center>

                        
                            <hr>
                        <div class="card-body">
                            <h5 class="card-title text-primary">Redmi note 10s</h5>
                            <p class="card-text">
                                <span class="float-start old_price" style =font-weight:bold;color:red;><s>Rs.10500</s></span> 
                                <span class="float-end new_price" style =font-weight:bold;color:white;background-color:green;border-radius:5px;padding:2px; >Rs.8799 </span>
 

                            </p>
                            
                        </div>
                    </a>
                    </div>
                </div>
                </div>

                <div class ="col-md-4 col-lg-3" >
                    <div class="card  my-3" >
                        <div class="card shadow">
                        <a href="{% url 'tawa' %}"> 
                            <center><img src="{% static 'images/non stick dosa Tawa.jpg' %}" style = "height:130px;width:130px;margin-top:20px;"  alt="Categories"></center>
                        
                            <hr>
                        <div class="card-body">
                            <h5 class="card-title text-primary">Non-stick dosa Tawa</h5>
                            <p class="card-text">
                               <span class="float-start old_price" style =font-weight:bold;color:red;><s>Rs.399</s></span> 
                               <span class="float-end new_price" style =font-weight:bold;color:white;background-color:green;border-radius:5px;padding:2px; >Rs.199 </span>

                            </p>
                            
                        </div>
                    </a>
                    </div>
                </div>
                </div>

                <div class ="col-md-4 col-lg-3" >
                    <div class="card  my-3" >
                        <div class="card shadow">
                        <a href="{% url 'aircooler' %}"> 
                        <center><img src="{% static 'images/air cooler.jpeg' %}" style = "height:130px;width:130px;margin-top:20px;" class="card-image" alt="Categories"></center>
                        
                            <hr>
                        <div class="card-body">
                            <h5 class="card-title text-primary">Air-Cooler</h5>
                            <p class="card-text">
                               <span class="float-start old_price" style =font-weight:bold;color:red;><s>Rs.7999</s></span> 
                               <span class="float-end new_price" style =font-weight:bold;color:white;background-color:green;border-radius:5px;padding:2px;>Rs.6999</span>

                            </p>
                            
                        </div>
                    </a>
                    </div>
                </div>
                </div>

                <div class ="col-md-4 col-lg-3" >
                    <div class="card  my-3" >
                        <div class="card shadow">
                        <a href="{% url 'tablefan' %}"> 
                       <center><img src="{% static 'images/T-fan.jpeg' %}" style = "height:130px;width:130px;margin-top:20px;" class="card-image" alt="Categories"></center>
                        
                            <hr>
                        <div class="card-body">
                            <h5 class="card-title text-primary">Table fan</h5>
                            <p class="card-text">
                               <span class="float-start old_price" style =font-weight:bold;color:red;><s>Rs.2500</s></span> 
                               <span class="float-end new_price" style =font-weight:bold;color:white;background-color:green;border-radius:5px;padding:2px;>Rs.1999</span>

                            </p>
                            
                        </div>
                    </a>
                    </div>
                </div>
                </div>

                <div class ="col-md-4 col-lg-3" >
                    <div class="card  my-3" >
                        <div class="card shadow">
                        <a href="{% url 'lenovo' %}"> 
                        <center><img src="{% static 'images/lenovo laptop.jpeg' %}" style = "height:130px;width:130px;margin-top:20px;" class="card-image" alt="Categories"></center>
                        
                            <hr>
                        <div class="card-body">
                            <h5 class="card-title text-primary">Lenovo Laptop</h5>
                            <p class="card-text">
                               <span class="float-start old_price" style =font-weight:bold;color:red;><s>Rs.37000</s></span> 
                               <span class="float-end new_price" style =font-weight:bold;color:white;background-color:green;border-radius:5px;padding:2px;>Rs.35999</span>

                            </p>
                            
                        </div>
                    </a>
                    </div>
                </div>
                </div>

                <div class ="col-md-4 col-lg-3" >
                    <div class="card  my-3" >
                        <div class="card shadow">
                        <a href="{% url 'apple' %}"> 
              <center><img src="{% static 'images/Apple laptop.jpeg' %}" style = "height:130px;width:130px;margin-top:20px;" class="card-image" alt="Categories"></center>
                        
                            <hr>
                        <div class="card-body">
                            <h5 class="card-title text-primary"> MacBook Air Laptop</h5>
                            <p class="card-text">
                               <span class="float-start old_price" style =font-weight:bold;color:red;><s>Rs.84000</s></span> 
                               <span class="float-end new_price" style =font-weight:bold;color:white;background-color:green;border-radius:5px;padding:2px;>Rs.83900</span>

                            </p>
                            
                        </div>
                    </a>
                    </div>
                </div>
                </div>

                <div class ="col-md-4 col-lg-3" >
                    <div class="card  my-3" >
                        <div class="card shadow">
                        <a href="{% url 'apple14' %}"> 
                        <center><img src="{% static 'images/Apple iphone 14 pro.jpeg' %}" style = "height:130px;width:130px;margin-top:20px;" class="card-image" alt="Categories"></center>
                        
                            <hr>
                        <div class="card-body">
                            <h5 class="card-title text-primary">Apple iPhone 14 pro</h5>
                            <p class="card-text">
                               <span class="float-start old_price" style =font-weight:bold;color:red;><s>Rs.120000</s></span> 
                               <span class="float-end new_price" style =font-weight:bold;color:white;background-color:green;border-radius:5px;padding:2px;>Rs.115000</span>

                            </p>
                            
                        </div>
                    </a>
                    </div>
                </div>
                </div>
                
    


</div>
</div> 
<!--{% for item in products %}
                
                <div class ="col-md-4 col-lg-3" >
                    <div class="card  my-3" >
                        <div class="card shadow">
                        <a href="{% url 'product_details' item.category.name item.name %}"> 
                        <img src="{{item.Product_image.url}}" style = "height:130px;width:130px;margin-left: 80px;margin-top:20px;" class="card-image-top" alt="Categories">
                        
                            <hr>
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{item.name}}</h5>
                            <p class="card-text">
                               <span class="float-start old_price" style =font-weight:bold;color:red;><s>Rs.{{item.original_price | stringformat:'d'}}</s></span> 
                               <span class="float-end new_price" style =font-weight:bold;color:white;background-color:green;border-radius:5px;padding:2px;>Rs.{{item.selling_price | stringformat:'d'}}</span>

                            </p>
                            
                        </div>
                    </a>
                    </div>
                </div>
                </div>
                {% endfor %}-->
<br>

{% include 'shop/inc/footer.html' %}
</section>
{% endblock content %} 



