{% load static %}
{% include 'shop/layouts/main.html'  %}


{% block title %}
welcome | page
{% endblock title %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}

    <center><div class="col-md-7" style="margin-top:100px;">
    <img src ="{% static 'images/tik4.jpeg' %}" style="height: 100px;width:100px;" ><br></div></center>
    


<div class="container">
    <center><h2 style="text-align:center;margin-top:20px;" >Thank You! Your Order was placed Successfully, Keep shopping continue with us!</h2></center>
    <center><img src ="{% static 'images/done.jpg' %}"></center>
</div>

{% endblock content %}